{% extends 'base.html' %}

{% block content %}
  <h1> {{ recipe.title }} </h1>

  <h2>Ingredients</h2>
  {% for ingredient in ingredients %}
    <li>{{ ingredient.text }}</li>
  {% empty %}
    <p>No ingredients</p>
  {% endfor %}

  <h2>Steps</h2>
  {% for step in steps %}
    <li>{{ step.text }}</li>
  {% empty %}
    <p>No steps</p>
  {% endfor %}

  <h2>Contents</h2>
  {% for content in contents %}
    <li>{{ content.text }}</li>
  {% empty %}
    <p>No contents</p>
  {% endfor %}
{% endblock %}
